<manifest package="io.xdevs23.theme.bluemerald.cm"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:required="true" android:name="org.cyanogenmod.theme" />

    <uses-sdk />

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="@string/theme_name"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="@string/theme_author" />
    <meta-data android:name="org.cyanogenmod.theme.email" android:value="@string/theme_email" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/m_app_icon"
        android:label="@string/app_name">

    </application>

</manifest>
