<manifest package="io.xdevs23.theme.bluemerald.cm"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:required="false" android:name="org.cyanogenmod.theme" />

    <uses-sdk />

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="@string/theme_name"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="@string/theme_author" />
    <meta-data android:name="org.cyanogenmod.theme.email" android:value="@string/theme_email" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/m_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name=".SubstratumLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="projekt.substratum.THEME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="Substratum_Legacy"
            android:value="true"/>
        <meta-data
            android:name="Substratum_Name"
            android:value="@string/ThemeName"/>
        <meta-data
            android:name="Substratum_Author"
            android:value="@string/ThemeAuthor"/>
        <meta-data
            android:name="Substratum_Email"
            android:value="@string/theme_email"/> <!-- Insert your email for bug reports -->
        <!-- Do you support Stock and Theme Ready Gapps? -> all -->
        <!-- Do you support Theme Ready but not Stock Gapps? -> ready -->
        <!-- Do you support Stock but not Theme Ready Gapps? -> stock -->
<!--         <meta-data
            android:name="Substratum_ThemeReady"
            android:value="stock"/>--> <!-- Only pick one! -->
<!--         <meta-data
             android:name="Substratum_Wallpapers"
             android:value="http://pastebin.com/raw/TG4mFdXz"/>-->


        <!-- SUBSTRATUM INTERNAL USE: DO NOT TOUCH -->
        <meta-data
            android:name="Substratum_Plugin"
            android:value="6.0.0"/>

        <meta-data android:name="org.cyanogenmod.theme.name" android:value="@string/theme_name"/>
        <meta-data android:name="org.cyanogenmod.theme.author" android:value="@string/theme_author" />
        <meta-data android:name="org.cyanogenmod.theme.email" android:value="@string/theme_email" />

    </application>

</manifest>
